body{

background:#f4f6f9;

font-family:Arial, Helvetica, sans-serif;

}

.navbar{

padding:15px;

}

.card{

border:none;

border-radius:15px;

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.btn{

border-radius:10px;

}

.display-4{

font-size:60px;

}